# Google Sheets API
# 前往 Google Sheets 取得 spreadsheet ID（網址中 /d/ 和 /edit 之間的部分）
SPREADSHEET_ID=your_spreadsheet_id_here

# 範例：
# https://docs.google.com/spreadsheets/d/1ABC123xyz.../edit
# SPREADSHEET_ID=1ABC123xyz...
